<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
<header>
</header>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                {% set menu = [
                ('Войти', '/login'),
                ('Зарегистрироваться', '/register'),
                ('Справка', '/help')] %}

                {% set authorised_menu =[
                ('Главная', '/'),
                ('Отправить запись', '/send'),
                ('История', '/history'),
                ('Справка', '/help'),
                ('Выйти', '/logout')] %}


                {% if current_user.is_authenticated %}
                <div class="sidebar-heading border-bottom bg-light">{{current_user.login}}</div>
                {% set menu = authorised_menu %}
                {% else %}
                <div class="sidebar-heading border-bottom bg-light"><br></div>
                {% endif %}
                <div class="list-group list-group-flush">
                    {% for item in menu %}
                    {% if loop.index %2 == 1 %}
                    <a class="list-group-item list-group-item-action list-group-item-light p-3"
                       href="{{item[1]}}">{{ item[0].upper() }}</a>
                    {%else%}
                    <a class="list-group-item list-group-item-action list-group-item-dark p-3"
                       href="{{item[1]}}">{{ item[0].upper() }}</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid"></div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
</body>
</html>